<div class="club-card-component">
    <div class="club-card-component__name">
        {{club.name}}
    </div>
    <div class="club-card-component__info-entrenador">
        <ul>
            <li><b>Address</b>:</li>
            <ul>
                <li>Street: {{club.street}}</li>
                <li>Home Number: {{club.homeNumber}}</li>
                <li>City: {{club.city}}</li>
                <li>Postal Code: {{club.postalCode}}</li>
                <li>Country: {{club.country}}</li>
            </ul>
            <li><b>email</b>: {{club.email}}</li>
            <li><b>Contact Phone</b>: {{club.contactPhone}}</li>
        </ul>
    </div>
</div>