<div class="container">
  <div mat-dialog-content>
      <div class="imgcontainer">
          <img src="{{data.dive.picture}}" alt="Avatar" class="avatar">
      </div>

      <div class="dive-info">
        <div class="dive-card-component__name">
          <b>Dive Nº</b>: {{data.index + 1}}
        </div>
        <div>
          <b>Date</b>: {{data.dive.date}}
        </div>
        <div>
          <b>Location</b>: {{data.dive.location}}
        </div>
        <div>
          <b>Maximum Depth</b>: {{data.dive.maxDepth}} m
        </div>
        <div>
          <b>Minutes Diving</b>: {{data.dive.minutesIn}} min
        </div>
        <div *ngIf="data.dive.airEntering !== null && data.dive.airEntering !== 0 ">
          <b>Start Air Pressure</b>: {{data.dive.airEntering}} bar
        </div>
        <div *ngIf="data.dive.airOutgoing !== null && data.dive.airOutgoing !== 0 ">
          <b>End Air Pressure</b>: {{data.dive.airOutgoing}} bar
        </div>
        <div *ngIf="data.dive.temperature !== null && data.dive.temperature !== 0">
          <b>Temperature</b>: {{data.dive.temperature}} ºC
        </div>
        <div *ngIf="data.dive.visibility !== null && data.dive.visibility !== 0">
          <b>Visibility</b>: {{data.dive.visibility}} m
        </div>
        <div *ngIf="data.dive.bottleCapacity !== null && data.dive.bottleCapacity !== ''">
          <b>Capacity</b>: {{data.dive.bottleCapacity}}
        </div>
        <div *ngIf="data.dive.airType !== null && data.dive.airType !== ''">
          <b>Gas used</b>: {{data.dive.airType}}
        </div>
        <div *ngIf="data.dive.oxygenProportion !== null && data.dive.oxygenProportion !== 0">
          <b>Oxygen Proportion</b>: {{data.dive.oxygenProportion}} %
        </div>
        <div>
          <b>Partner Name</b>: {{data.dive.partnerName}}
        </div>
        <div>
          <b>Parter Titulation</b>: {{data.dive.partnerTitulation}}
        </div>
        <div *ngIf="data.dive.clubId !== null && data.dive.clubId !== undefined">
          <b>Club</b>: {{data.clubName}}
        </div>
        <div *ngIf="data.dive.rating !== null && data.dive.rating !== 0">
          <b>Rating</b>: {{data.dive.rating}} / 5
        </div>
    </div>
    <div class="observations" *ngIf="data.dive.observations !== null && data.dive.observations !== ''">
      <b>Observations</b>: {{data.dive.observations}}
    </div>
    <img *ngIf="data.dive.clubValidation === true" src="../../../../assets/images/validation.png" class="validation">
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button class="close" (click)="onNoClick()">Close</button>
    <button mat-raised-button color="primary" class="prim" (click)="openModifyDiveDialog()">
      Modify Dive Information
    </button>
  </div>
</div>