 <app-nav-bar></app-nav-bar>
    <div class="container">
    <h1>
        Welcome!
    </h1>
    <div class="web-info-container">
        <div class="web-info">
            <p>
                In this web you will be able to mantain a register of all the dives you have done. You can see them in the 
                <a routerLink="/dive-book">Dive Book</a> section, as well as add new dives to your dive book. 
            </p>
            <p>
                You will also have acces to your <a routerLink="/passport">Diving Passport</a>, in which you can store all your
                diving titulations.
            </p>
            <p>
                In the <a routerLink="/clubs">Clubs</a> section you can see the address and the contact information of the clubs
                existing in our data base. If you want to include a club or suggest a modification of the existing information, 
                don't hesitate to contact us and we will try update our data base.
            </p>
            <p>
                Finally, you also have a <a routerLink="/user">User</a> section where you can check your user information and modify it.
            </p>
        </div>
    </div>

</div>
