<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>My Diving Trip</span>
    <span>
        <img src="../../../assets/images/logo_fish_no_background.png">
    </span>
    <div class="spacer"></div>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/dive-book">Diving Book</a>
    <a mat-button routerLink="/passport">Passport</a>
    <a mat-button routerLink="/clubs">Clubs</a>
    <a mat-button routerLink="/user">User</a>
    <a mat-button routerLink="/login" (click)="logOut()">Log Out</a>
</mat-toolbar>